*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar>.links>ul>li{
  padding: 15px;
  color: #183a1d;
}
.navbar>.links>ul>li:hover{
  color:#f0a04b;
}
table, th, td {
  border: 1px solid #f0a04b;
  border-collapse: collapse;
}
td{
  padding: 0 10px 0 10px;
  color: #183a1d;
  width: 200px;
  
}
